.App {
  /* background-color: #282c34;
  color: white; */
  min-height: 100vh;
}

.textInput {
  margin: 2em;
}

.customContainer {
  width: 95%;
  margin-left: 2.5%;
}

.centerContainer {
  display: flex;
  justify-content: center;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root { /* Date Inputs */
  margin-right: 1em !important;
}


.css-u4tvz2-MuiFormLabel-root { /* Radio Buttons text */
  text-align: center;
}
